
/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
    font-size: 16px;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: #121212;
    color: #eee;
}

a {
    color: #809fff;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
    height: 20vh;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 5rem;
    padding-bottom: .7rem;
    border-bottom: thin solid #848499;
}

h3 {
    margin: 0;
}

h3, span {
    font-size: 1.5rem;
}

h3 span {
    color: #25d38c;
}

nav h3, nav ul {
    width: 50vw;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: flex;
    flex-direction: row;    
}

.nav-links {
    justify-content: space-between;
}

li a {
    font-size: 1.5rem;
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.greeting {
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.main-content h1 {
    color: #25d38c;
}
.btn-container {
    margin-top: 3rem;
}

.start-btn {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #25d38c;
    animation: bounce 2s infinite alternate;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

footer {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    margin-right: 2rem;
    
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
