/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/




/******************************************
/* LAYOUT
/*******************************************/
main {
     display: flex;    
     justify-content: center;
     align-content: center;
     
     margin-left: auto;
     margin-right: auto;
     padding-top: 30%;
     padding-bottom: 30%;
     height: max-content;

}

.tip-radio-sec {
     display: flex;
     
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
