/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
     font-size: 12px;
}
/* background collor #1b1b1b */


/******************************************
/* LAYOUT  adjust screen window to 320 x 480
/*******************************************/
body {
     height: 100vh;
     width: 100vw;
     margin-bottom: 0%;
     background-color: #1b1b1b;
     font-family: "Lucida Console", "Courier New", monospace;
     color: gray;
}
main {
     display: flex; 
     flex-direction: column;   
     justify-content: center;
     align-items: center;
     
     margin-left: auto;
     margin-right: auto;
     padding: 5% 0;     
     height: 100%;

     border-radius: 2%;
     border: 2px solid gray;
}

.top {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.top p {
     margin-bottom: 0%;
     font-size: 1.3rem;     
}

fieldset {
     display: flex; 
     justify-content: center;    
}

.tip-radio-sec {
     display: flex;
     flex-direction: column;
     padding-top: .2rem;
}

.form_sections {
     display: flex;
     justify-content: center;
     margin-bottom: 1rem;
}

.form_sections input {
     margin: 0 .3rem;
}

#user_input {
     margin: 2rem;
}

#total {
     margin-top: 1rem;
     padding: .5rem
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
